[access "refs/heads/*"]
	abandon = group Change Owner
	abandon = group ops-sysd-maintainers
	label-Code-Review = -2..+2 group ops-sysd-maintainers
	label-Code-Review = block group Change Owner
	label-Workflow = -1..+1 group Change Owner

[submit]
	mergeContent = true
	action = rebase if necessary
[access "refs/*"]
	pushTag = group ops-sysd-maintainers
	pushSignedTag = group ops-sysd-maintainers
	forgeCommitter = group ops-sysd-maintainers
	push = +force group ops-sysd-maintainers
	read = group ops-sysd-maintainers
